main {
    width: 320px;
    height: auto;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.icons {
    display: flex;
    align-items: center;
}
img {
    margin: 7px;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact {
    margin-top: 150px;
}
h5 {
    color: rgba(126, 126, 130, 1);
}
.search {
    margin-left: 50px;
}