@font-face {
    font-family: "TT Lakes";
    src: url(./fonts/TTLakes-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "TT Lakes";
    src: url(./fonts/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Основной контент*/
main {
    width: 320px;
    height: auto;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
/*Все иконки*/
.icons {
    display: flex;
    align-items: center;
    margin: 0px 15px 0px;
}
/*Картинка  GPS*/
img {
    margin: 7px;
}
/*Блок меню*/
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 15px 0px;
    gap: 20px;
}
/*Кнопки в меню*/
button{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
   
}
/*Стиль кнопок при наведении*/
button:hover{
  opacity: 0.4; 
  transition: opacity 0.5s;

}
    

/*Нижний блок с кантактной информацией*/
.contact {
     margin: 150px 15px 0px;
}
/*Заголовок*/
h5 {
    color: rgba(126, 126, 130, 1);
    display: flex;
    align-items: center;
    margin-top: 15;
    margin-bottom: 5px;
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
}
/*Иконка поиска*/
.search {
    margin-left: 80px;
}
/*Голубая иконка с левой стороны*/
.left-border {
    margin-left: 0%;
    margin-right: 15px;
}
/*Номер телефона*/
.number {
    font-family: "TT Lakes";
    font-weight: 700;
    font-style:normal;
    color: rgba(27, 28, 33, 1);
}
/*Языки*/
.lang {
    display: flex;
    gap: 5px;
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
    margin-top: 50px;
    margin: 0px 15px 0px;
}
/*Сайт*/
 .link {
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
    color: rgba(27, 28, 33, 1);
 }
 .ru {
    color: rgba(126, 126, 130, 1);
 }
 /*Иконка телефона*/
 .chat-copy{
    margin-left: 0px;
 }