.icons {
    display: flex;
    align-items: center;
}
img {
    margin: 7px;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact {
    margin-top: 150px;
}